body{
    font-family: 'Tangerine', cursive;
    text-align: center;
    background-color: #C5D4F9; 
}
div{
    display: inline-block;
}
.scar{
    display: block;
}
.glasses{
    margin-top: 35px ;
} 
.deathlyHollows{
    margin-left: 25%;
}

.container {
    position: absolute;
    margin: auto;
    top: 20px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 600px;
}

.leftSide,.rightSide{
    height:100px;
    width: 100px;
    border-width: 10px;
    border-style: ridge;
    border-radius: 50%;
    border-color: #191A1C;
}

.middle{
    height: 20px;
    width: 40px;
    border-width: 10px;
    border-top-style: ridge;
    border-radius: 50%;
    border-color: #191A1C;
    position: relative;
    right: 10px;
    bottom: 40px;
}
.rightSide{
    position: relative;
    right: 20px;
}

.top{
    width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
    border-bottom: 55px solid #260C1A;
    
    position: relative;
    bottom: 5px; 
    transform: rotate(-13deg)
}
.mid{
    width: 0;
	height: 0;
	border-top: 0px solid transparent;
	border-right: 35px solid #260C1A;
    border-bottom: 8px solid transparent;
    transform: rotate(-10deg);
    
    position: relative;
    right: 32px;
}
.bot{
    width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
    border-top: 55px solid #260C1A;
    
    position: relative;
    right: 66px;
    top: 49px;
    transform: rotate(-10deg);
}



.triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 100px 173.2px 100px;
    border-color: transparent transparent #000000 transparent;
}
.innerOne{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 0 150px 85px;
    border-color: transparent transparent #C5D4F9 transparent;
    position: relative;
    right: 190px;
    bottom: 7px;
}
.innerTwo{ 
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 150px 0 0 85px;
    border-color: transparent transparent transparent #C5D4F9;
    position: relative;
    right: 188px;
    bottom: 7px;
}
.circle{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 7px solid black;
    position: relative;
    bottom: 114px;
    right: 88px;
}